<header class="main-header">
  <div class="container">
    <div class="logo">
      <img src="assets/logo.png" alt="World Blood Donor Day" />
    </div>

    <nav class="nav-links">
      <span id="admin-link">Quản lý</span>
      <a href="index.html" class="active">Trang chủ</a>
      <a href="services.html">Dịch vụ</a>
      <a href="blog.html">Blog</a>
    </nav>

    <div class="auth-links">
      <a href="login.html">Sign in / </a>
      <a href="SignUp.html">Sign up</a>
    </div>
  </div>
</header>
